@model ulp_net_inmobiliaria.Models.LoginView
<section class="body">
    <div class="container">
        <div class="login-box">
            <div class="row">
                <div class="col">
                    <div class="logo">
                    	<span class="logo-font">Te</span> AlKilo
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <br>
                    <h3 class="header-title">Ingreso a la plataforma</h3>
					<form asp-controller="Usuarios" asp-action="Login" class="login-form">
                        <div class="mb-3">
							<label asp-for="Email" class="form-label"></label>
                            <input asp-for="Email" type="email" class="form-control" placeholder="Email">
                        </div>
                        <div class="mb-3">
							<label asp-for="Password" class="form-label"></label>
                            <input asp-for="Password" type="password" class="form-control" placeholder="Password">
                        </div>
                        <div class="mb-3">
                            <button class="btn btn-primary btn-block">Ingresar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>