@model ulp_net_inmobiliaria.Models.Usuario

@{
    ViewData["Title"] = "Crear Usuario";
}

<form asp-action="Create" enctype="multipart/form-data">
	<div class="card">
		<div class="card-header">
			<h5>Nuevo Usuario</h5>
		</div>
		<div class="card-body">
			<div class="row">
				<div class="col-md-4">
					<div asp-validation-summary="ModelOnly" class="text-danger"></div>
					<div class="mb-3">
						<label asp-for="Nombre" class="form-label"></label>
						<input asp-for="Nombre" class="form-control" required/>
						<span asp-validation-for="Nombre" class="text-danger"></span>
					</div>
					<div class="mb-3">
						<label asp-for="Apellido" class="form-label"></label>
						<input asp-for="Apellido" class="form-control" required/>
						<span asp-validation-for="Apellido" class="text-danger"></span>
					</div>
					<div class="mb-3">
						<label asp-for="Email" class="form-label"></label>
						<input asp-for="Email" class="form-control" />
						<span asp-validation-for="Email" class="text-danger"></span>
					</div>
					<div class="mb-3">
						<label asp-for="Password" class="form-label"></label>
						<input asp-for="Password" class="form-control" />
						<span asp-validation-for="Password" class="text-danger"></span>
					</div>
					<div class="mb-3">
						<label asp-for="Rol" class="form-label"></label>
						<select class="form-control" name="Tipo">
							@foreach (var item in (IDictionary<int, string>)ViewBag.Roles)
							{
								<option value="@item.Key">@item.Value</option>
							}
						</select>
						<span asp-validation-for="Rol" class="text-danger"></span>
					</div>
					<div class="mb-3">
						<label asp-for="AvatarFile" class="form-label"></label>
						<input asp-for="AvatarFile" type="file" class="form-control" />
						<span asp-validation-for="AvatarFile" class="text-danger"></span>
					</div>
				</div>
			</div>
		</div>
		<div class="card-footer">
			<a asp-action="Index" class="float-end">Volver a la lista</a>
			<input type="submit" value="Guardar" class="btn btn-outline-primary btn-sm" />
		</div>
	</div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}