@model ulp_net_inmobiliaria.Models.Pago

@{
	ViewData["Title"] = "Crear Pago";
	var contrato = (Contrato)ViewBag.Contrato;
	var pagoUltimo = 1;
	if( (Pago)ViewBag.PagoUltimo != null){
		pagoUltimo = ViewBag.PagoUltimo.Numero+1;
	}
	var fecha = DateTime.Today;
}

<form asp-action="Create">
	<div class="card">
		<div class="card-header">
			<h5>Nuevo Pago</h5>
		</div>
		<div class="card-body">
			<div class="row">
				<div class="col-md-4">
					<div asp-validation-summary="ModelOnly" class="text-danger"></div>
					<input type="hidden" name="ContratoId" value="@contrato.Id" />
					<div class="mb-3">
						<label asp-for="Numero" class="form-label"></label>
						<input asp-for="Numero" class="form-control text-end"  value="@pagoUltimo" readonly />
						<span asp-validation-for="Numero" class="text-danger"></span>
					</div>
					<div class="mb-3">
						<label asp-for="Fecha" class="form-label"></label>
						<input asp-for="Fecha" class="form-control" type="date" readonly />
						<span asp-validation-for="Fecha" class="text-danger"></span>
					</div>
					<div class="mb-3">
						<label asp-for="Importe" class="form-label"></label>
						<div class="input-group">
							<span class="input-group-text" id="">$</span>
							<input asp-for="Importe" class="form-control text-end" value="@contrato.Valor.ToString()" />
						</div>
						<span asp-validation-for="Importe" class="text-danger"></span>
					</div>
					<div class="mb-3">
						<label asp-for="ContratoId" class="form-label"></label>
						<input class="form-control" value="@contrato.ToString()" />
						<span asp-validation-for="ContratoId" class="text-danger"></span>
					</div>
				</div>
			</div>
		</div>
		<div class="card-footer">
			<a asp-action="Index" class="float-end">Volver a la lista</a>
			<input type="submit" value="Guardar" class="btn btn-outline-primary btn-sm" />
		</div>
	</div>
</form>

@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
}
