html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/* ========== */
/* Navigation */
/* ========== */
.navbar a.user-profile {
	width: 3rem;
	height: 3rem;
	padding: 5px 0px;
	background: none;
	transition: none;
	border-radius: 50rem;
	display: flex;
	justify-content: center;
	background-color: #fbf7f4;
}

/* ========== */
/* Perfil 	  */
/* ========== */
.form-avatar {
	display: flex;
	justify-content: center;
	border-radius: 10rem;
	width: 10rem;
	height: 10rem;
	overflow: hidden;
	background-color: #ddd;

	position: relative;
	cursor: pointer;
}

.form-avatar .change-avatar {
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgb(236 236 236 / 50%);
	display: inline-flex;
	align-items: center;
	justify-content: center;
	font-size: 2.5rem;
	color: black;
	transition: 300ms ease;
}

.form-avatar:hover .change-avatar {
	opacity: 1;
}