html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/* ========== */
/* Navigation */
/* ========== */
.logo-font {
	color: #3BC3FF;
}

.navbar a.user-profile {
	width: 3rem;
	height: 3rem;
	padding: 5px 0px;
	background: none;
	transition: none;
	border-radius: 50rem;
	display: flex;
	justify-content: center;
	background-color: #fbf7f4;
}

/* ========== */
/* Perfil 	  */
/* ========== */
.form-avatar {
	display: flex;
	justify-content: center;
	border-radius: 10rem;
	width: 10rem;
	height: 10rem;
	overflow: hidden;
	background-color: #ddd;
	position: relative;
	cursor: pointer;
}
.cambia-avatar{
	position: absolute;
	top: 200px;
	left: 85px;
	z-index: 1;
	cursor: pointer;
}